.App {
  text-align: center;
}
.bg-custom {
  background-color: #d5e4e4a6;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.blocApp {

  display: flex;
  justify-content: space-around;
  margin-top: 20px;


}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
